<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="sqlite-net-pcl" version="1.1.2" targetFramework="portable46-net451+win81" />
  <package id="SQLitePCL.bundle_green" version="0.9.2" targetFramework="portable46-net451+win81" />
  <package id="SQLitePCL.raw" version="0.9.2" targetFramework="portable46-net451+win81" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="portable46-net451+win81" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="portable46-net451+win81" />
  <package id="Xamarin.Forms" version="4.0.0.304370-pre8" targetFramework="portable46-net451+win81" />
</packages>